.carousel-container {
  .carousel {
    .carousel-inner {
      .carousel-item {
        img {
          max-width: 1000px;
          max-height: 500px;
          margin: 0 auto;
          filter: brightness(0.8);
        }
        .carousel-caption {
          display: block !important;
          top: 35%;
          h3 {
            font-size: 4.5rem;
            text-align: center;
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      a {
        display: none;
      }
      .carousel-caption {
        width: 100%;
        left: 0;
        h3 {
          font-size: 3.5rem !important;
        }
      }
    }

    &:hover {
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
        width: 60px;
        height: 60px;
        padding: 10px;
        background-size: 50% 50%;
        background-color: #000;
      }
    }
  }
}
